
<div class="noquestions">
    <img src="/images/noquestions.svg" alt="Sem pergunta">
    
    <p>Nenhuma perguta por aqui..</p>
    <p>Faça sua primeira pergunta e envie o<br>código dessa sala para outras pessoas!</p>
</div>
